.sidebar
  width: 240px
  flex-shrink: 0
  background-color: var(--bg-secondary)
  padding: 8px

.header
  padding: 16px 8px 8px
  font-size: 12px
  font-weight: 600
  text-transform: uppercase
  color: var(--text-muted)

.dm
  display: flex
  align-items: center
  gap: 12px
  padding: 6px 8px
  border-radius: 4px
  color: var(--text-muted)

  &:hover
    background-color: var(--bg-modifier-hover)
    color: var(--interactive-hover)
