.sidebar
  width: 72px
  flex-shrink: 0
  overflow-y: auto
  scrollbar-width: none
  background-color: var(--bg-tertiary)
  padding: 12px 0

  &__icon
    width: 48px
    height: 48px
    background-color: var(--bg-primary)
    border-radius: 48px
    display: flex
    align-items: center
    justify-content: center
    background-size: cover
    background-position: center
    transition: all .4s
    cursor: pointer

    &:hover, &--active
      border-radius: 16px

    &--primary
      background-color: var(--brand)

    &--secondary
      svg
        color: var(--green)
        transition: color 0.4s

      &:hover
        background-color: var(--green)

        svg
          color: #fff

    &__wrapper
      display: block
      width: 100%
      padding: 6px 12px
      position: relative

      &::before
        content: ""
        position: absolute
        left: 0
        top: 50%
        width: 4px
        height: 8px
        background-color: #fff
        border-radius: 0 4px 4px 0
        transform: translateY(-50%)
        transition: height 0.4s

      &:hover
        &::before
          height: 20px

      &--active
        &::before
          height: 36px
