.chat-item
  padding: 8px 0
  display: flex
  gap: 12px

  &__header
    display: flex
    align-items: center
    gap: 8px
    margin-bottom: 2px

  &__username
    font-size: 15px
    color: var(--header-primary)
    font-weight: 500

  &__time
    font-size: 13px
    color: var(--text-muted)
    font-size: 12px

  &__message
    font-size: 15px
    white-space: pre-wrap
    word-break: break-word
    line-height: 1.6
    color: var(--text-normal)
