.member
  display: flex
  align-items: center
  border-radius: 4px
  gap: 8px
  padding: 8px
  user-select: none
  border-radius: 6px
  transition: all .4s ease-in-out
  cursor: pointer

  &:hover
    background-color: var(--bg-modifier-hover)

  &__username
    color: var(--text-muted)
    font-size: 15px
    overflow: hidden
    text-overflow: ellipsis
