.messagePreview
  padding: 4px 0 12px
  border-radius: 4px
  box-shadow: 0 0 0 1px var(--bg-tertiary), var(--elevation-high)
  pointer-events: none
  overflow: hidden

.protip
  margin-top: 16px
  color: var(--green)
  font-size: 12px
  text-transform: uppercase
  font-weight: 700

  strong
    font-weight: 700

  &
    text-transform: none
    color: var(--text-normal)
    font-weight: 400

  strong:first-child
    color: var(--green)
    text-transform: uppercase
