.backdrop
  position: fixed
  inset: 0
  z-index: 800
  display: flex
  justify-content: center
  align-items: flex-start
  padding: 15vh 16px 16px
  background-color: rgba(0, 0, 0, .7)
  animation: fade .12s ease-out

@keyframes fade
  from
    opacity: 0

.switcher
  width: 100%
  max-width: 570px
  padding: 20px
  border-radius: 8px
  background-color: var(--bg-secondary)
  box-shadow: var(--elevation-high)

.input
  width: 100%
  height: 70px
  padding: 0 16px
  border-radius: 5px
  background-color: var(--bg-tertiary)
  color: var(--header-primary)
  font-size: 24px

  &::placeholder
    color: var(--text-muted)

.heading
  margin: 16px 0 4px
  color: var(--header-secondary)
  font-size: 12px
  font-weight: 700
  text-transform: uppercase

.results
  max-height: 40vh

.result
  width: 100%
  height: 36px
  display: flex
  align-items: center
  gap: 8px
  padding: 0 8px
  border-radius: 4px
  color: var(--text-muted)
  text-align: left

.resultActive
  background-color: var(--bg-modifier-selected)
  color: var(--interactive-active)

.icon
  width: 20px
  display: flex
  justify-content: center

.serverIcon
  width: 20px
  height: 20px
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  border-radius: 6px
  background-color: var(--bg-primary)
  color: var(--header-primary)
  font-size: 8px !important

  span
    font-size: 8px !important

.label
  color: var(--header-secondary)
  font-weight: 500

  .resultActive &
    color: var(--header-primary)

.unread
  color: var(--header-primary)
  font-weight: 700

.username
  color: var(--text-muted)
  font-size: 14px

.hint
  margin-left: auto
  color: var(--text-muted)
  font-size: 12px
  font-weight: 600
  text-transform: uppercase

.empty
  padding: 24px
  color: var(--text-muted)
  text-align: center

.protip
  margin-top: 16px
  color: var(--text-muted)
  font-size: 12px

  strong
    color: var(--green)
    font-weight: 700
    text-transform: uppercase

  kbd
    padding: 0 4px
    border-radius: 3px
    background-color: var(--bg-tertiary)
    color: var(--header-primary)
    font-family: var(--font-code)
